/* **************************** GENERAL ********************************************** */

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f6f8f9;
}

button{
  padding: 5px 10px;
  border-radius: 5%;
  margin: 20px 50px;
}

hr{
  margin-top: 30px;
  border: 1px solid #f6f8f9;
}

ul{
  margin: 20px 50px;
  list-style: none;
}



/* **************************** HEADER ************************************************* */

header{
  height: 70px;
  padding: 10px 20px;
  background-color: white;
  
}

header img{
  vertical-align:middle;
}

.nome-logo{
  font-size: 2.5rem;
  vertical-align:middle;
}

/* **************************** MAIN ************************************************** */

main{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
  
.container-main{
  margin-top: 50px;
  /* padding: 20px 50px; */
  background-color: white;
  border-radius: 1%;
}

.button-task{
  color: white;
  background-color: #47adf1;
  border-color: #47adf1;
}

.button-section{
  color: #d2d6db;
  background-color: white;
  border-color: #d2d6db;
}


